@font-face {
    font-family: 'Arial';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.action-button {
    height: 40px;
    padding: 0 20px;
}
.button.action-button {
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}

/* Botão View */
.button-link.view-button {
    background-color: #007bff;
    border: 0.1rem solid #007bff;
    color: #fff;
}

/* Botão Edit */
.button-link.edit-button {
    background-color: #28a745;
    border: 0.1rem solid #28a745;
    color: #fff;
}

/* Botão Delete */
.button-link.delete-button {
    background-color: #d33c43;
    border: 0.1rem solid #d33c43;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}